#ifndef SECRETS_H
#define SECRETS_H

// --- CREDENCIALES WIFI ---
#define WIFI_SSID "TU_RED_WIFI"
#define WIFI_PASS "TU_PASSWORD_WIFI"

// --- MQTT ---
#define MQTT_SERVER "192.168.1.XXX"  // IP del broker Mosquitto
#define MQTT_PORT 1883
#define MQTT_USER ""                  // Dejar vacío si no hay auth
#define MQTT_PASS ""                  // Dejar vacío si no hay auth

#endif
