#ifndef SECRETS_H
#define SECRETS_H

// --- CREDENCIALES WIFI ---
// Copia este archivo como Secrets.h y modifica con tus datos reales
static const char* WIFI_SSID = "TU_RED_WIFI";
static const char* WIFI_PASS = "TU_PASSWORD_WIFI";

#endif
